/* Write your CSS here */
.RCB {
  background-image: linear-gradient(#a4261d, #0f172a);
}

.KKR {
  background-image: linear-gradient(#5755a7, #0f172a);
}

.KXP {
  background-image: linear-gradient(#d91c1f, #0f172a);
}

.CSK {
  background-image: linear-gradient(#f7db00, #0f172a);
}

.RR {
  background-image: linear-gradient(#da237b, #0f172a);
}

.MI {
  background-image: linear-gradient(#13418b, #0f172a);
}

.SH {
  background-image: linear-gradient(#f26d22, #0f172a);
}

.DC {
  background-image: linear-gradient(#4f5db0, #0f172a);
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.team-matches-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
    .team-matches-container{
        width: 85%;
    }
}

.banner-image {
  width: 100%;
  height: 35%;
}

.latest-matches-heading {
  color: #fff;
  font-family: 'Bree Serif';
  font-size: 18px;
  align-self: flex-start;
}
.match-cards-lists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  justify-content: space-between;
  align-items: center;
}
